{
    "openapi": "3.0.1",
    "info": {
        "title": "i3D.net Endpoints",
        "description": "Documentation links:\n- <a href='https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Usage/'>API Usage</a>\n- <a href='https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Authentication/'>API Authentication</a>\n- <a href='https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Handling/'>API Error Handling</a>\n- <a href='https://www.i3d.net/docs/one/odp/Platform-Overview/APIv3-Error-Codes/'>API Error Codes</a>\n- <a href='https://www.i3d.net/docs/one/odp/'>All ONE Deployment Platform Documentation</a>",
        "contact": {
            "name": "email",
            "email": "info@i3d.net"
        },
        "version": "3.0.0"
    },
    "servers": [
        {
            "url": "https://api.i3d.net"
        }
    ],
    "paths": {
        "/v3/telemetry/crossConnect/{crossConnectId}/usage/{uplinkId}/raw": {
            "get": {
                "tags": [
                    "CrossConnectTelemetry"
                ],
                "summary": "Get the data usage for a uplinkId in a cross connect, by default, past 24 hours",
                "operationId": "getTelemetryCrossConnectUsageRaw",
                "parameters": [
                    {
                        "name": "crossConnectId",
                        "in": "path",
                        "description": "The Id of the cross connect",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "uplinkId",
                        "in": "path",
                        "description": "The Id of the uplink",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "startTime",
                        "in": "query",
                        "description": "Start unix timestamp",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "endTime",
                        "in": "query",
                        "description": "End unix timestamp",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TrafficUsage"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "unprocessable entity"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/telemetry/colocation/{colocationId}/network": {
            "get": {
                "tags": [
                    "ColocationTelemetry"
                ],
                "summary": "Gets the network telemetry for a given colocation on hourly basis (default = last 24 hours)",
                "operationId": "getTelemetryColocationNetworks",
                "parameters": [
                    {
                        "name": "colocationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "startTime",
                        "in": "query",
                        "description": "Start unix timestamp",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "endTime",
                        "in": "query",
                        "description": "End unix timestamp",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ColocationNetworkTelemetry"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error Colocation not found"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/telemetry/colocation/powerUsage": {
            "get": {
                "tags": [
                    "ColocationTelemetry"
                ],
                "summary": "Get the history list of power usage for all colocation",
                "operationId": "getTelemetryColocationPowerUsages",
                "parameters": [
                    {
                        "name": "startTime",
                        "in": "query",
                        "description": "Unix timestamp. Filter from time, default value is -1 day",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "endTime",
                        "in": "query",
                        "description": "Unix timestamp. Filter to time, default value is now",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ColocationPDUHistoryTelemetry"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/telemetry/colocation/powerUsage/current": {
            "get": {
                "tags": [
                    "ColocationTelemetry"
                ],
                "summary": "Get the list of all colocation current power usage",
                "operationId": "getTelemetryColocationPowerUsageCurrents",
                "parameters": [
                    {
                        "name": "RANGED-DATA",
                        "in": "header",
                        "description": "Example header and default range: RANGED-DATA:start=0,results=25",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ColocationPDUTelemetry"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/telemetry/colocation/{colocationId}/pdu/{pduId}": {
            "get": {
                "deprecated": true,
                "tags": [
                    "ColocationTelemetry"
                ],
                "summary": "Get the history list of power usage for a colocation and pdu",
                "description": "Use [`GET /v3/telemetry/pdu/{pduId}`](#/PduTelemetryController/getTelemetryPdu) instead",
                "operationId": "getTelemetryColocationPdu",
                "parameters": [
                    {
                        "name": "startTime",
                        "in": "query",
                        "description": "Unix timestamp. Filter from time, default value is -1 day",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "endTime",
                        "in": "query",
                        "description": "Unix timestamp. Filter to time, default value is now",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "RANGED-DATA",
                        "in": "header",
                        "description": "Example header and default range: RANGED-DATA:start=0,results=25",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "colocationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pduId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ColocationPDUHistoryDataTelemetry"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/telemetry/colocation/overuse/current": {
            "get": {
                "tags": [
                    "ColocationTelemetry"
                ],
                "summary": "List of overuse host",
                "operationId": "getTelemetryColocationOveruseCurrents",
                "parameters": [
                    {
                        "name": "RANGED-DATA",
                        "in": "header",
                        "description": "Example header and default range: RANGED-DATA:start=0,results=25",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ColocationOveruseTelemetry"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/telemetry/pdu/{pduId}": {
            "get": {
                "tags": [
                    "PduTelemetry"
                ],
                "summary": "Get the history list of power usage for a pdu",
                "operationId": "getTelemetryPdu",
                "parameters": [
                    {
                        "name": "startTime",
                        "in": "query",
                        "description": "Unix timestamp. Filter from time, default value is -1 day",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "endTime",
                        "in": "query",
                        "description": "Unix timestamp. Filter to time, default value is now",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pduId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ColocationPDUHistoryTelemetry"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/health": {
            "get": {
                "tags": [
                    "Health"
                ],
                "summary": "Get health of the API",
                "operationId": "getHealth",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Health"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/session/user": {
            "get": {
                "tags": [
                    "Session"
                ],
                "summary": "Get basic details of the logged in user",
                "operationId": "getUser",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionUser"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If you are not logged in"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/session/login": {
            "post": {
                "tags": [
                    "Session"
                ],
                "summary": "Log in",
                "operationId": "login",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SessionLogin"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionAuthReq"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials"
                    },
                    "409": {
                        "description": "Already logged in"
                    },
                    "429": {
                        "description": "Too many login requests performed"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/session/login/otp": {
            "post": {
                "tags": [
                    "Session"
                ],
                "summary": "Provide 2FA One-Time Password after a successful login (if requiresOtp is true in SessionAuthReq, as returned by /session/login)",
                "operationId": "provideOTP",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SessionLoginOtp"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Invalid OTP"
                    },
                    "404": {
                        "description": "Unexpected OTP call"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/session/logout": {
            "post": {
                "tags": [
                    "Session"
                ],
                "summary": "Log out",
                "operationId": "logout",
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/calc/utilities/servicevatpercentage/{serviceName}": {
            "get": {
                "tags": [
                    "CalcUtilities"
                ],
                "summary": "Request the VAT percentage for a shop category, for your specific user",
                "operationId": "getCalcUtilitiesServiceVatPercentage",
                "parameters": [
                    {
                        "name": "serviceName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CalcServiceVatPercentage"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/calc/utilities/marginfactors/{categoryName}": {
            "get": {
                "tags": [
                    "CalcUtilities"
                ],
                "summary": "Request the user / reseller group margin factors for a calc category",
                "operationId": "getCalcUtilitiesMarginFactors",
                "parameters": [
                    {
                        "name": "categoryName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CalcCategoryMargins"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "Invalid categoryName"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/calc/categories": {
            "get": {
                "tags": [
                    "CalcConfigurations"
                ],
                "summary": "Get all shop categories",
                "operationId": "getCalcCategories",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CalcCategory"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/calc/configs/{categoryName}": {
            "get": {
                "tags": [
                    "CalcConfigurations"
                ],
                "summary": "Get all configurations for the given shop category",
                "operationId": "getCalcConfig",
                "parameters": [
                    {
                        "name": "categoryName",
                        "in": "path",
                        "description": "Category name, one of /calc/categories",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CalcConfig"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "If an unknown category has been provided"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/calc/items/{categoryName}": {
            "get": {
                "tags": [
                    "CalcConfigurations"
                ],
                "summary": "Get all groups and items of the given category",
                "operationId": "getCalcItem",
                "parameters": [
                    {
                        "name": "categoryName",
                        "in": "path",
                        "description": "Category name, one of /calc/categories",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CalcGroup"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "If an unknown category has been provided"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/calc/locations": {
            "get": {
                "tags": [
                    "CalcConfigurations"
                ],
                "summary": "Get all the availability locations per calc category",
                "operationId": "getCalcLocations",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CalcCategoryLocation"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/calc/orders": {
            "get": {
                "tags": [
                    "CalcOrders"
                ],
                "summary": "Get all order IDs (and meta data) from your cart",
                "operationId": "getCalcOrders",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CalcOrderMeta"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "CalcOrders"
                ],
                "summary": "Create an order from a config (tag)",
                "operationId": "createCalcOrder",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CalcOrderCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalcOrder"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/calc/orders/quote": {
            "post": {
                "tags": [
                    "CalcOrders"
                ],
                "summary": "Submit a quote request for your current cart",
                "operationId": "createCalcOrdersQuote",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CalcOrderQuote"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "If your cart is completely empty"
                    },
                    "422": {
                        "description": "If you have an error in the submitted values"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/calc/orders/{orderId}": {
            "get": {
                "tags": [
                    "CalcOrders"
                ],
                "summary": "Get an order from the cart",
                "operationId": "getCalcOrder",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "Order ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalcOrder"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "If the order was not found"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "CalcOrders"
                ],
                "summary": "Update an order",
                "operationId": "updateCalcOrder",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "Order ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Order quantity and items. Item groups must match those listed in the original configuration.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CalcOrderUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalcOrder"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "If the order was not found"
                    },
                    "422": {
                        "description": "If you have an error in the submitted order values"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "CalcOrders"
                ],
                "summary": "Delete an order from the cart",
                "operationId": "deleteCalcOrder",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "Order ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "If the order was not found"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/calc/orders/finalize/{orderId}": {
            "put": {
                "tags": [
                    "CalcOrders"
                ],
                "summary": "Set an order in the cart to 'checkout' (which means it will show up on the checkout page). Updating the order is still allowed after finalization",
                "operationId": "finalizeCalcOrder",
                "parameters": [
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "Order ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "If the order was not found"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/jobs": {
            "get": {
                "tags": [
                    "Job"
                ],
                "summary": "Get all jobs",
                "operationId": "getJobs",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Job"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/jobs/{jobId}": {
            "get": {
                "tags": [
                    "Job"
                ],
                "summary": "Get the details of a job",
                "operationId": "getJob",
                "parameters": [
                    {
                        "name": "jobId",
                        "in": "path",
                        "description": "The Id of the jobs you are requesting",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Job"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Invalid jobId"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/jobs/{jobId}/solicit": {
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Solicit for a job",
                "operationId": "createJobSolicit",
                "parameters": [
                    {
                        "name": "jobId",
                        "in": "path",
                        "description": "The Id of the jobs you are soliciting for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Invalid jobId"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/jobs/{jobId}/solicit/{solicitId}/files": {
            "post": {
                "tags": [
                    "Job"
                ],
                "summary": "Add files to the solicitation",
                "operationId": "uploadJobSolicitFiles",
                "parameters": [
                    {
                        "name": "jobId",
                        "in": "path",
                        "description": "The Id of the jobs you are soliciting for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "solicitId",
                        "in": "path",
                        "description": "The Id of the solicitation you are uploading files for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "Invalid jobId or solicitId"
                    },
                    "413": {
                        "description": "Request Entity Too Large"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/newsletter/optin": {
            "post": {
                "tags": [
                    "Newsletter"
                ],
                "summary": "Sign up for the newsletter. This will send a confirmation email with a validation url to follow.",
                "operationId": "optInForNewsletter",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewsletterOptIn"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/newsletter/confirm": {
            "post": {
                "tags": [
                    "Newsletter"
                ],
                "summary": "Newsletter sign up confirmation, with the token from the confirmation email.",
                "operationId": "confirmNewsletterOptIn",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewsletterConfirm"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Error"
                    }
                }
            }
        },
        "/v3/newsletter/unsubscribe": {
            "post": {
                "tags": [
                    "Newsletter"
                ],
                "summary": "Unsubscribe from the newsletter, using the unsubscribe url in a newsletter.",
                "operationId": "unsubscribeFromNewsletter",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewsletterUnsubscribe"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/colocation/quote": {
            "post": {
                "tags": [
                    "Quotes"
                ],
                "summary": "Request a colocation quote",
                "operationId": "createColocationQuote",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/QuoteColocation"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/tickets/categories": {
            "get": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Get a list of all ticket categories",
                "operationId": "getTicketsCategories",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/tickets": {
            "get": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Get a list of all ticket meta data (no actual contents)",
                "operationId": "getTickets",
                "parameters": [
                    {
                        "name": "RANGED-DATA",
                        "in": "header",
                        "description": "Example header and default range: RANGED-DATA:start=0,results=25",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Ticket"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Create a new ticket",
                "operationId": "createTicket",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TicketNew"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/tickets/openOrUnread": {
            "get": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Get a list of all ticket meta data (no actual contents) that are open or unread",
                "operationId": "getTicketsOpenOrUnreads",
                "parameters": [
                    {
                        "name": "RANGED-DATA",
                        "in": "header",
                        "description": "Example header and default range: RANGED-DATA:start=0,results=25",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Ticket"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/tickets/{ticketId}": {
            "get": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Get a specific ticket with all replies.",
                "operationId": "getTicket",
                "parameters": [
                    {
                        "name": "ticketId",
                        "in": "path",
                        "description": "Ticket ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/tickets/{ticketId}/attachment/{attachmentId}": {
            "get": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Get a ticket attachment",
                "operationId": "getTicketAttachment",
                "parameters": [
                    {
                        "name": "ticketId",
                        "in": "path",
                        "description": "Ticket ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "attachmentId",
                        "in": "path",
                        "description": "Attachment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "format": ""
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/tickets/contact": {
            "post": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Create a new ticket without being logged in (public contact form)",
                "operationId": "contact",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TicketNewContact"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/tickets/{ticketId}/reply": {
            "post": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Post a reply to an existing ticket",
                "operationId": "createTicketReply",
                "parameters": [
                    {
                        "name": "ticketId",
                        "in": "path",
                        "description": "Ticket ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TicketNewReply"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ticket"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/tickets/attachment": {
            "post": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Upload an attachment to the system",
                "operationId": "createTicketsAttachment",
                "consumes": [
                    "multipart/form-data"
                ],
                "requestBody": {
                    "description": "Upload any attachments you want to attach to a ticket reply using this endpoint. The resulting\n`attachmentId`(s) can then be sent along with your ticket reply to couple the attachment to the reply.\nAlso see [POST /v3/tickets/{ticketId}/reply](all#/Tickets/createTicketReply)",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/TicketNewAttachment"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TicketUploadedAttachment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/tickets/attachment/{attachmentId}": {
            "delete": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Delete an attachment *that is not coupled to a ticket or reply yet*",
                "operationId": "deleteTicketsAttachment",
                "parameters": [
                    {
                        "name": "attachmentId",
                        "in": "path",
                        "description": "Attachment ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "When the attachment was not found"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/tickets/{ticketId}/open": {
            "put": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Open a ticket (if it isn't force-closed)",
                "operationId": "openTicket",
                "parameters": [
                    {
                        "name": "ticketId",
                        "in": "path",
                        "description": "Ticket ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/tickets/{ticketId}/close": {
            "put": {
                "tags": [
                    "Tickets"
                ],
                "summary": "Close a ticket",
                "operationId": "closeTicket",
                "parameters": [
                    {
                        "name": "ticketId",
                        "in": "path",
                        "description": "Ticket ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/dedicatedServer": {
            "get": {
                "tags": [
                    "DedicatedServer"
                ],
                "summary": "Get all your dedicated servers (can be bare metal servers or VMs) and their main details",
                "operationId": "getDedicatedServers",
                "parameters": [
                    {
                        "name": "labels",
                        "in": "query",
                        "description": "Label expressions can be used to apply more specific search parameters and can be written in standard SQL query language.<br />\nE.g. `region_id=123` or multiple filters: `region_id=123 and fleet_id=456 or host_id=46256` The provided filter query needs to be url encoded. E.g.<br />\n`region_id%3D123` or multiple filters: `region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256` The total would look like:<br />\n`/dedicatedServer?labels=region_id%3D123%20and%20fleet_id%3D456%20or%20host_id%3D46256`<br />\nIf you want to filter on a non-numeric label such as `region_name`, you have to wrap the value in double quotes: `region_name='Rotterdam'`<br />\nWarning: the `labels` query parameter is ignored when passing a `PAGE-TOKEN` and the original `labels` string will be used for that request instead.<br />\nFor more information about labels check <a href='https://www.i3d.net/docs/one/odp/Platform-Elements/Application/Label/#pre-defined-labels'>details</a>",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "RANGED-DATA",
                        "in": "header",
                        "description": "Example header and default range: RANGED-DATA:start=0,results=25",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Host"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/dedicatedServer/summary": {
            "get": {
                "tags": [
                    "DedicatedServer"
                ],
                "summary": "Get all your dedicated servers (can be bare metal servers or VMs) and their main details",
                "operationId": "getDedicatedServerSummaries",
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Fields return in response, only fields available in model can be filter out",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "RANGED-DATA",
                        "in": "header",
                        "description": "Example header and default range: RANGED-DATA:start=0,results=25",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/HostSummary"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/dedicatedServer/{dedicatedServerId}": {
            "get": {
                "tags": [
                    "DedicatedServer"
                ],
                "summary": "Get a dedicated server (can be bare metal servers or VMs) and their main details",
                "operationId": "getDedicatedServer",
                "parameters": [
                    {
                        "name": "dedicatedServerId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Host"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "DedicatedServer"
                ],
                "summary": "Can add, edit or delete dedicated server labels. To delete label need to provide key with null value.",
                "operationId": "updateDedicatedServer",
                "parameters": [
                    {
                        "name": "dedicatedServerId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Host"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Host"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/colocation": {
            "get": {
                "tags": [
                    "Colocation"
                ],
                "summary": "Get list of all colocated servers",
                "operationId": "getColocations",
                "parameters": [
                    {
                        "name": "RANGED-DATA",
                        "in": "header",
                        "description": "Example header and default range: RANGED-DATA:start=0,results=25",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ColocatedServer"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/colocation/{colocationId}": {
            "get": {
                "tags": [
                    "Colocation"
                ],
                "summary": "Get the colocated server by ID",
                "operationId": "getColocation",
                "parameters": [
                    {
                        "name": "colocationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ColocatedServer"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "Invalid colocationId"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Colocation"
                ],
                "summary": "Update the colocated server by ID",
                "operationId": "updateColocation",
                "parameters": [
                    {
                        "name": "colocationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ColocatedServer"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ColocatedServer"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "Invalid colocationId"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/colocation/{colocationId}/invoice": {
            "get": {
                "tags": [
                    "Colocation"
                ],
                "summary": "Get all the invoices for a specific colocated service",
                "operationId": "getColocationInvoices",
                "parameters": [
                    {
                        "name": "colocationId",
                        "in": "path",
                        "description": "ID of the colocated service to fetch invoices for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "RANGED-DATA",
                        "in": "header",
                        "description": "Example header and default range: RANGED-DATA:start=0,results=25",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Invoice"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "Invalid colocation ID"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/colocation/{colocationId}/pdu": {
            "get": {
                "tags": [
                    "Colocation"
                ],
                "summary": "Get all the PDUs for a specific colocated service",
                "operationId": "getColocationPdus",
                "parameters": [
                    {
                        "name": "colocationId",
                        "in": "path",
                        "description": "ID of the colocated service to fetch PDUs for",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Pdu"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Invalid credentials"
                    },
                    "404": {
                        "description": "Invalid colocation ID"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/colocation/{colocationId}/network/usage/{upLinkId}/raw": {
            "get": {
                "tags": [
                    "Colocation"
                ],
[...]
